
body {
	padding: 10px;
	background-color: #efeae1;
	font-weight: 400;
	color: #333;
	font-size: 14px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.form {
    color: #333;
    border: 1px solid #3b88c3;
    padding: 20px;
}

h1 {
	text-align: center;
    width:100%;
    color:#000000;
}

h5 {
	padding: 10px;
	text-align: center;
}

h2 {
	text-align: center;
}

.form_button {
	box-shadow: 0 1px 0 #fff;
	height: 35px;
	margin-top: 30px;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	font-size: 20px;
	background-color: #55acee;
	box-shadow: 0 1px 0 #fff;
	border: 1px solid #3b88c3;
	color: white;
}

.header {
	background-color: #333;
	color: white;
	padding: 2px;
	text-align: center;
	border-radius: 15px;
}

select {
	margin-right: 25px;
	padding: 20px;
	font-size: 14px;
}