{% extends "base.html" %}
{% block title %}
XKCD Password: Dorjee
{% endblock %}
{% block head %}
    {{ super() }}
    <link href="/static/css/xkcd.css" rel="stylesheet">

{% endblock %}

<div class="body">
{% block content %}
	<div class="form">
	  <h2>Page Not Found. Please try again with another password length. </h2>
	  <br><br>
	  <p><a href="{{ url_for('xkcd_page') }}">Home</a></p>
	</div> <br>
	
{% endblock %}
</div>