<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/base.css" rel="stylesheet">
    <title>XKCD Password: Dorjee</title>
    {% endblock %}
</head>
<body>
    <div class="content">
        {% block content %}{% endblock %}
        <br>
    </div>
    <div class="footer">
        {% block footer %}
        <a href="http://dhondo01.github.io/"><p class="text-center">&copy; Dorjee Dhondup</p></a>
        </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="static/js/bootstrap.min.js"></script>
        {% endblock %}
    </div>


</body>
</html>