{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block head %}
    {{ super() }}
    <!-- Bootstrap -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/static/css/xkcd.css" type="text/css" charset="utf-8">

{% endblock %}


<div class="body">
{% block content %}
    <div class="container">
		<div class="form">
			<div class="header">
				<h4>10 Possible Passwords Are Generated Below</h4>
			</div>
			<br>
		    <ol>
		        {% for password in passwordList %}
		            <li>{{ password }}</li>
		        {% endfor %}
		    </ol>
		</div> <br>
		<h4>Refresh Page To Generate More Passwords</h4>
	</div>
	
{% endblock %}
</div>