{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block head %}
    {{ super() }}
    <!-- Bootstrap -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/static/css/xkcd.css" type="text/css" charset="utf-8">

{% endblock %}


<div class="body">
{% block content %}
    <div class="container">
        <h1>XKCD Password Generator</h1>

        <div class="form">
        <form id="form" method="post" action="{{ url_for('Passwords') }}">
            <div class="header">
                <strong><h5>Implemented using Flask using template, wtf and bootstrap. Password words are chosen randomly from a wordlist.</h5></strong>
                <p>Dorjee Dhondup, Internet Programming</p>
            </div>
            <br><br>
            <label for="shortestWord">Min word length: </label>
            <select name="shortestWord" id="shortestWord">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>

            <label for="longestWord">Max word length: </label>
            <select name="longestWord" id="longestWord">
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>

            </select>

            <label for="totalLength">Max password length: </label>
            <select name="totalLength" id="totalLength">
                <option value="20">20</option>
                <option value="22">22</option>
                <option value="24">24</option>
            </select><br><br>

            <label> Possible Substitutions: </label><br>
            <input type="checkbox" name="eSub" /> i == ! <br>
            <input type="checkbox" name="oSub" /> o == 0 <br>
            <input type="checkbox" name="sSub" /> s == 5 <br>
            <input type="checkbox" name="aSub" /> a == @ <br><br>
            <label>Capitalize a word: </label><br>
            <input type="checkbox" name="firstCap" /> Capitalize the first word<br>
            <input type="checkbox" name="secondCap" /> Capitalize the second word<br>
            <input type="checkbox" name="thirdCap" /> Capitalize the third word<br>
            <input type="checkbox" name="fourthCap" /> Capitalize the fourth word<br><br>
            <input type="checkbox" name="typing" /> Typing Speed<br><br>

    		<input class="btn btn-primary" type="submit" value="Generate Passwords" />
        </form>
        </div>
    </div>
{% endblock %}
</div>